$color-light: #999;
$color-light-hover: #DDD;

$color-about-background2: #d2c6c4;
$color-about-background: #eae6e7;

$color-background-primary: #000;
$color-background-secondary: #E0E0E0;
$color-background-default: #FFF;

$color-text-header: #07227B;
$color-text-primary: #000;
$color-text-contrast-primary: #FFF;
$color-text-secondary: #444;